@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

body {
    margin: 0;
    padding: 0;
    height: 100vh;
    position: relative; 
    background-color: #FEE9D2;
    font-family: 'Inter', sans-serif;
}

.login {
    position: absolute;
    top: 50%; 
    right: -100px;
    transform: translate(-50%, -50%); 
    text-align: center; 
    font-size: 20px;
    color: white;
    z-index: 1;
}

.background-right {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    width: 39em;
    background-color: black;
    z-index: 0;
}

.login button {
    content: flex;
    background-color: #3C46FF;
    color: white;
    border-radius: 5px;
    font-size: 18px;
    padding: 13px 70px;
    border: none;
    margin-left: 10px;
}

.login button:hover {
    background-color: blue;
    cursor: pointer;
}

.words {
    position: absolute;
    top: 50%;
    left: 5%; 
    transform: translateY(-50%);
    text-align: center;
    color: black;
    white-space: nowrap; 
}

.word {
    margin: 0 10px; 
    font-size: 50px;
    opacity: 0; 
    animation: fadeUp 1s forwards;
    display: inline-block; 
}

@keyframes fadeUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.top-icon {
    position: absolute;
    left: 20px; 
    top: 20px; 
}

.top-icon img {
    width: 100px; 
    height: 100px;
}

.copyright {
    position: absolute;
    bottom: 10px; 
    left: 50%;
    transform: translateX(-50%);
    color: white;
    font-size: 14px;
}

