@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');

body {
    margin: 0;
    padding: 0;
    height: 100vh;
    position: relative; 
    background-color: white;
    font-family: 'Inter', sans-serif;
}

/* INTRO PAGE */
.login {
    position: absolute;
    top: 50%; 
    right: -100px;
    transform: translate(-50%, -50%); 
    text-align: center; 
    font-size: 20px;
    color: white;
    z-index: 1;
}

.background-right {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    width: 39em;
    background-color: black;
    z-index: 0;
}

.login button {
    content: flex;
    background-color: #3C46FF;
    color: white;
    border-radius: 5px;
    font-size: 18px;
    padding: 13px 70px;
    border: none;
    margin-left: 10px;
}

.login button:hover {
    background-color: blue;
    cursor: pointer;
}

.words {
    position: absolute;
    top: 50%;
    left: 5%; 
    transform: translateY(-50%);
    text-align: center;
    color: black;
    white-space: nowrap; 
}

.word {
    margin: 0 10px; 
    font-size: 50px;
    opacity: 0; 
    animation: fadeUp 1s forwards;
    display: inline-block; 
}

@keyframes fadeUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.top-icon {
    position: absolute;
    left: 20px; 
    top: 20px; 
}

.top-icon img {
    width: 100px; 
    height: 100px;
}

.copyright {
    position: absolute;
    bottom: 10px; 
    left: 50%;
    transform: translateX(-50%);
    color: white;
    font-size: 14px;
}

.header-top {
    display: flex;
    align-items: center; 
    justify-content: flex-start; 
    padding-left: 20px; 
}

.name {
    margin-top: 30px;
    margin-left: 100px; /* Or adjust as needed for spacing */
    font-size: 20px;
}

/* SIGNUP PAGE */
#signup-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh; 
    background-color: white; 
}

#signup-page h2 {
    margin: 0;
    font-size: 24px; 
    color: #333; 
}

#signup-page form {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 320px;
    margin-top: 20px;
}

#signup-page input[type='email'],
#signup-page input[type='password'],
#signup-page select {
    height: 40px; 
    margin-bottom: 10px; 
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 6px; 
    font-size: 16px;
}

#signup-page button[type='submit'] {
    height: 50px; 
    background-color: #3C46FF; 
    color: white;
    border: none;
    border-radius: 6px; 
    margin-top: 10px; 
    font-size: 16px;
    cursor: pointer;
}

#signup-page button[type='submit']:hover {
    background-color: blue; 
}

#signup-page p {
    font-size: 14px;
    color: black; 
    margin-top: 20px;
}

#signup-page a {
    color: #0066ee; 
    cursor: pointer;
    text-decoration: none;
}

/* LOGIN PAGE */
#login-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh; 
    background-color: white; 
}

#login-page h2 {
    margin: 0;
    font-size: 24px; 
    color: #333;
}

#login-page form {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 320px;
    margin-top: 20px;
}

#login-page input[type='email'],
#login-page input[type='password'] {
    height: 40px;
    margin-bottom: 10px; 
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 6px; 
    font-size: 16px;
}

#login-page button[type='submit'] {
    height: 50px; 
    background-color: #3C46FF; 
    color: white;
    border: none;
    border-radius: 6px; 
    margin-top: 10px; 
    font-size: 16px;
    cursor: pointer;
}

#login-page button[type='submit']:hover {
    background-color: blue; 
}

#login-page p {
    font-size: 14px;
    color: black; 
    margin-top: 20px;
}

#login-page button {
    padding: 0;
    background: none;
    border: none;
    color: #0066ee; 
    cursor: pointer;
    text-decoration: none;
}

.logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px; /* Adjust the margin as needed */
    margin-bottom: -170px;
}

.logo {
    margin-top: 0px;
    max-width: 130px; 
    height: auto;
}  

/* HOME PAGE */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: transparent;
}

#title {
    font-family: 'Montserrat', sans-serif; 
    font-size: 2.5rem; /* Bigger size for visibility */
    font-weight: 700; /* Bold weight for impact */
    color: rgb(0, 2, 3); /* A color that stands out */
    position: absolute; /* Absolute positioning */
    top: 15px; /* Adjust as needed */
    left: 75px; /* Adjust as needed */
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.1); /* Text shadow for depth */
    z-index: 10; /* Make sure it's above other elements */
}

.hero-section {
    position: relative;
    text-align: center; /* Center the text */
}
  
.hero-background {
    width: 100%;
    height: auto;
    object-fit: cover;
    display: block;
    z-index: -1;
    transform: scaleX(-1); /* This flips the image horizontally */
}
  
.hero-section::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(to right, rgba(0, 0, 0, 0.7) 60%, rgba(0, 0, 0, 0) 100%);
    z-index: 1; /* Positioned above the image, below the text */
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Style the text with high contrast for readability */
.hero-content {
    animation: fadeInUp 1s ease-out forwards;
    position: absolute;
    top: 20%;
    left: 15%; /* Adjust this to control the left-side placement! */
    transform: translateY(-50%);
    color: #ffffff; /* Light text for contrast */
    text-align: left;
    z-index: 10; /* Ensure the text appears above the gradient overlay */
    padding: 1em; /* Add some padding around the text */
    width: 40%; /* Adjust width as needed */
    max-width: 500px; /* Set a maximum width for larger displays */
}

.hero-content.animate {
    animation: fadeInUp 1.5s ease-out forwards;
}

/* Further style the headline and paragraph */
.hero-content h1 {
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 0.5em;
}

.hero-content p {
    font-size: 1.5rem;
    margin-bottom: 1em;
}
  
  .description-section {
    display: flex; /* Enables flexbox layout */
    align-items: center; /* Aligns items vertically */
    justify-content: space-around; /* Spreads out the items */
    margin-top: 20px; /* Adds space between hero section and this section */
    padding: 20px; /* Adds padding inside the section */
}

.explore-button {
    display: inline-block; /* Allows width and height to be set */
    padding: 10px 20px; /* Size of the button */
    font-size: 1rem; /* Text size within the button */
    text-align: center; /* Center the text inside the button */
    color: white; /* Text color */
    background-color: #0056b3; /* Button background color, adjust as needed */
    border: none; /* Remove the default border */
    border-radius: 5px; /* Rounded corners for the button */
    text-decoration: none; /* Remove the underline from the link */
    cursor: pointer; /* Change mouse pointer on hover */
    transition: background-color 0.3s; /* Smooth transition for background color */
}

.explore-button:hover {
    background-color: #003d7a; /* Darker shade on hover for interactivity */
}

.description-content {
    flex-basis: 50%; /* Takes up half the space of the container */
    padding: 2rem; /* More padding for breathing space */
    text-align: left; /* Align the text to the left */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start; /* Align items to the start of the flex container */
}

.description-content h2 {
    margin-bottom: 1rem; /* More space below the heading */
    font-size: 2.5rem; /* Larger font size for the heading */
    font-weight: bold; /* Bold font weight for the heading */
    line-height: 1.2; /* Adjust line height for better readability */
    color: #333; /* Adjust color for better contrast if needed */
}

.description-content p {
    font-size: 1.25rem; /* Increase font size for readability */
    margin-bottom: 1rem; /* More space below paragraphs */
    line-height: 1.6; /* Adjust line height for better readability */
    color: #555; /* Slightly lighter color for the text */
    letter-spacing: 0.5px; /* Optionally adjust letter spacing for aesthetics */
}

.description-image {
    flex-basis: 50%; /* Takes up half the space of the container */
}

.description-image img {
    width: 100%; /* Ensures image is responsive and fills the container */
    height: auto; /* Keeps the image's aspect ratio */
}
  

.logo img {
    height: 60px;/* Adjust as needed */
}

nav {
    flex-grow: 1; /* This will make the navigation take up remaining space */
    text-align: center; /* Align the navigation items in the center */
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center; /* Keep the items centered */
    align-items: center;
    padding-left: 40px; /* This will push the navigation items slightly to the right */
    font-size: 20px;
}

nav ul li {
    display: inline;
}

nav ul li:not(:last-child) {
    margin-right: 70px; /* Add margin between navigation items */
}

nav ul li a {
    text-decoration: none;
    color: #333;
}

.user-actions-profile a {
    text-decoration: none;
    color: #333;
    margin-left: 40px;
    font-size: 20px;
}

/* EXPLORE PAGE */
.block {
    width: 300px; /* Adjust as needed */
    border: 1px solid #ccc;
    padding: 20px;
    margin: 20px;
    text-align: center;
    display: inline-block;
}


.block p {
    margin-top: 10px;
    font-size: 18px;
    color: #333;
}

/* EXPLORE PAGE */
.explore-page {
    position: relative; 
    width: 100%; 
    max-width: 800px; 
    margin: 0 auto; 
    z-index: 2;
    transition: transform 0.5s, opacity 0.5s; 
}

.explore-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
}

.card-content {
    position: absolute;
    top: 50%;
    left: 10px; /* Adjust the left position as needed */
    transform: translateY(-50%);
    background-color: transparent;
    padding: 20px;
    color: white;
    word-wrap: break-word; /* Allow long words to be broken and wrap to the next line */
    max-width: calc(100% - 20px); /* Set max-width to ensure text doesn't overflow, subtracting padding */
    box-sizing: border-box; /* Include padding and border in the element's total width and height */
}

.card {
    width: 100%;
    max-width: 800px; 
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    background-color: white;
    position: relative;
}

.card-img {
    width: 100%;
    height: auto;
    display: block;
}

.card-info h2 {
    margin: 10px 0;
    font-size: 1.2em;
}

.card-info p {
    margin: 5px 0;
    word-wrap: break-word;
}

.explore-page-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
    width: 100vw; 
}

body:not(.explore-page) .explore-container {
    height: auto;
}

.action-buttons-container {
    position: absolute;
    bottom: 80px; 
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    width: 100%;
}

.action-btn {
    border: none;
    background: none;
    cursor: pointer;
    margin: 0 10px; 
}

.action-btn img {
    width: 50px; 
    height: auto;
}

.action-btn:hover {
    transform: scale(1.1);
}

/* Animation for the event leaving like */
@keyframes swipeRightUp {
    to {
        transform: translateX(170%) translateY(-150%) rotate(-30deg);
        opacity: 1;
    }
}

/* Animation for the event leaving dislike */
@keyframes swipeLeftUp {
    to {
        transform: translateX(-170%) translateY(-150%) rotate(30deg);
        opacity: 1;
    }
}

/* Animation for the new card entering */
@keyframes growIn {
    from {
        transform: scale(0);
    }
    to {
        transform: scale(1);
    }
}

.new-event {
    animation: growIn 0.5s forwards;
}

/* ADD EVENT PAGE */

.add-event-page {
    display: flex;
    flex-direction: column;
    text-align: center;
    /* Remove the height if you don't want it to take the full viewport height */
}

.add-event-page h1 {
    margin-bottom: 30px;
}

.add-event-page form {
    width: 100%;
    max-width: 400px; /* Adjust width as necessary */
    margin: 0 auto; /* Center the form */
    padding: 10px; /* Add some padding */
    /* Rest of your styles for form */
  }
  

.add-event-page form div {
    margin-bottom: 15px; /* Spacing between form items */
    width: 100%; /* Full width within the form */
}

.add-event-page form label,
.add-event-page form input,
.add-event-page form textarea,
.add-event-page form select,
.add-event-page form button {
    width: 85%; /* Make all form inputs full width */
    margin: 10px; /* Spacing for top and bottom */
    border-radius: 3px;
    border: none;
}

.add-event-page form button {
    padding: 10px 0; /* Padding for button */
    margin-top: 20px; /* Extra space above the submit button */
}

.event-form-container {
    background-color: #312d2d; /* This sets the background color to blue */
    padding: 20px; /* This adds space inside the container */
    margin: auto; /* This will help center the container */
    width: 40%; /* Adjust the width as per your design requirement */
    max-width: 1000px; /* Optional: Sets a maximum width */
    border-radius: 16px; /* Optional: Rounds the corners */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Optional: Adds a shadow for depth */
    color: white; /* Sets the text color to white for better readability */
}

.event-form-container.animate {
    animation: fadeInUp 0.5s ease-out forwards;
}


/* If you want to keep the input fields and buttons styled differently, 
   you can override the color within the form fields separately: */
.event-form-container form input,
.event-form-container form select,
.event-form-container form textarea,
.event-form-container form button {
    background-color: #ffffff; /* Sets form fields background to white */
    color: black; /* Sets text color inside form fields to black */
    /* ...other styles for form elements... */
}

.add-event-page button[type='submit'] {
    font-family: 'Inter', sans-serif;
    background-color: #0056b3; /* Initial color */
    color: white; /* Text color */
    border: none; /* Remove default border */
    padding: 10px 20px; /* Padding inside the button */
    border-radius: 5px; /* Rounded corners */
    cursor: pointer; /* Change cursor to pointer to indicate it's clickable */
    transition: background-color 0.3s; /* Smooth transition for background color */
}

/* Change background color on hover */
.add-event-page button[type='submit']:hover {
    background-color: #003d7a; /* Darker shade for the hover state */
}