<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Volunteer Matching App - Explore Page</title>
    <link rel="stylesheet" href="/static/styles.css">
    <script src="/static/main.js"></script>
</head>
<body>
    <header>
        <div class="logo">
            <img src="/static/cow.png" alt="Icon">
        </div>
        <nav>
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">Explore</a></li>
                <li><a href="#">Search</a></li>
            </ul>
        </nav>
        <div class="user-actions">
            <a href="#"><img src="/static/plus.png"></a>
            <a href="#">Profile</a>
        </div>
    </header>
    <div class="explore-container explore-page">
        <div class="card">
            <img src="/static/testing.png" alt="org picture" class="card-img">
        </div>  
    </div>
    <div class="action-buttons-container">
        <button class="action-btn dislike"><img src="/static/dislike-icon.png" alt="Dislike"></button>
        <button class="action-btn like"><img src="/static/like-icon.png" alt="Like"></button>
    </div>
    <div class="explore-container explore-page new-event" style="display: none;">
        <div class="card">
            <img src="/static/snow.png" alt="New Event Picture" class="card-img">
            <!-- Add more event details here! -->
        </div>
    </div>
</body>
</html>