<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Volunteer Matching App - Intro Page</title>
    <link rel="stylesheet" href="/static/styles.css">
    <script src="/static/main.js"></script>
</head>
<body>
    <!-- Intro Page Section -->  
    <section id="intro-page">
        <div class="header-top">
            <div class="top-icon">
                <img src="/static/cow.png" alt="Top Icon">
            </div>
            <div class="name">
                <h2>AggieCollab</h2>
            </div>
        </div>
        <div class="login">
            <h2>Get Started</h2>
            <button onclick="redirectToLogin()">Log in</button>
            <button onclick="showSignup()">Sign up</button>
        </div>
        <div class="background-right">
            <div class="copyright">
                <p>&copy; 2024. All rights reserved.</p>
            </div>            
        </div>
        <div class="words">
            <span class="word" style="display: none;">Environment</span>
            <span class="word">Education</span>
            <span class="word">Health</span>
            <span class="word">Community Development</span>
            <span class="word">Arts and Culture</span>
            <span class="word">Animal Welfare</span>
            <span class="word">Social Services</span>
            <span class="word">Technology</span>
            <span class="word">Sports and Recreation</span>
            <span class="word">Disaster Relief</span>
        </div>
    </section>
</body>
<footer>

</footer>
</html>
