<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Volunteer Matching App - Login</title>
    <link rel="stylesheet" href="/static/styles.css">
    <script src="/static/main.js"></script></head>
<body>
    <!-- Login Section -->
    <div class="logo-container">
        <img src="/static/cow.png" alt="Icon" class="logo">
    </div>
    <section id="login-page">
        <h2>Log In</h2>
        <form action="/login" method="POST">
            <input type="email" name="email" placeholder="Enter your email address" required>
            <input type="password" name="password" placeholder="Enter your password" required>
            <button type="submit">Continue</button>
        </form>
        <p>Don't have an account? <button onclick="showSignup()">Sign up here</button></p>
    </section>
</body>
</html>
